body {
  color: white;
  background-color: black;
}

fieldset {
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}
legend {
  font-size: 20px;
  font-weight: bolder;
}

input[type="text"],
input[type="number"],
select,
option,
textarea {
  border-radius: 20px;
  color: black;
  width: 100%;
  padding: 1%;
  text-align: center;
}
label {
  font-weight: bolder;
}
button {
  width: 100%;
}
