/*Tasting Item Styles*/
.tasting-item {
  list-style: none;
}

.tasting-list,
.dashboard {
  padding: 50px;
}
.unexpanded,
button {
  background-color: rgb(68, 0, 0);
  font-weight: bolder;
  box-shadow: 0 5px 3px black;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.tasting-item-buttons {
  padding: 20px;
  display: flex;
  justify-content: center;
}
button {
  background-color: rgb(0, 0, 0);
  width: 150px;
  margin: 5px;
}
.unexpanded:hover,
button:hover {
  background-color: rgb(126, 124, 124);
  text-shadow: -1px 0 #020202, 0 3px#0c0b0b, 2px 0#1b1111, 0 -1px#000000;
  border: 2px black;
}

.wine-profile,
.wine-sigth,
.wine-nose,
.wine-palate,
.wine-comments {
  border: 3px rgba(236, 232, 232, 0.877);
  border-radius: 15px;
  box-shadow: 0 5px 7px black;
}

/* Horizontal ruler */
.tasting-list hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  margin: 15px;
}

.tasting-list hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.sense,
.form h2,
legend,
.tasting-list h2,
.dashboard h2,
.home h2,
.landing-page h2 {
  text-shadow: -1px 0 #f8f8f8, 0 1px#c0c0c0, 2px 0#b6b5b5, 0 -1px#c9c9c9;
  color: rgb(0, 0, 0);
}

/* Form */
form {
  padding: 25px;
}
legend {
  font-weight: bolder;
  font-size: 25px;
}

form label {
  margin: 10px 0 10px;
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
}
.tasting-list img {
  width: 100px;
}

/*Controls*/
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
fieldset,
textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid rgb(82, 0, 0);
  border-radius: 5px;
  margin: 8px 0 8px;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 5px 7px black;
}

input:hover,
select:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 20px;
  color: black;
  min-width: 60px;
}

.conventions,
.filters,
.home .group,
.dashboard .group {
  display: flex;
  flex-direction: column;
}

.conv-item {
  flex: 2;
  margin: 20px;
}
.conv-item2 {
  flex: 1;
}
textarea {
  cursor: auto;
}

fieldset,
.dashboard p {
  background-color: rgba(253, 250, 250, 0.61);
  border: 3px solid rgb(82, 0, 0);
  padding: 20px;
}
.home fieldset {
  margin-bottom: 20px;
  background-color: rgb(241, 228, 228);
  color: rgb(0, 0, 0);
}
.home fieldset {
  margin-bottom: 20px;
}
.home legend {
  font-size: 20px;
}
.varietal-filter,
.vintage-filter,
.score-filter {
  flex: 1;
  margin: 20px;
}

form h3,
.singup-form p,
.conventions h3,
.dashboard h3 {
  border-radius: 15px;
  margin-top: 10px;
  background-color: rgb(238, 217, 217);
  color: black;
}

.banner {
  background: url("/src/Images/12.png") no-repeat center fixed;
  background-size: cover;
  height: 350px;
  position: relative;
  color: white;
}
form .login-form {
  padding: 50px;
}
/*Dashboard*/
.group img {
  width: 40%;
}
.dashboard p {
  font-size: 18px;
}
.dashboard p strong {
  font-size: 30px;
}

/*Home */
.home section {
  min-height: 200px;
  padding: 30px;
}

.home h3 a {
  font-weight: bolder;
  text-decoration: none;
  padding: 2px;
  border-radius: 15px;
}
.home a:hover {
  background-color: black;
}
.home section:nth-child(even),
footer,
.home h3 a {
  background-color: rgb(68, 0, 0);
  padding: 8px;
  color: white;
}
footer {
  margin-top: 30px;
  padding: 5px;
  font-size: 13px;
  box-shadow: 5px 0px 7px 5px black;
}

.home .item,
.dashboard .item {
  flex: 1;
  margin: 25px;
}
.home img {
  width: 100%;
  border-radius: 15px;
}

.home ul {
  list-style-type: square;
  text-align: left;
  border: 2px solid rgb(238, 217, 217);
}
.home ol {
  list-style-type: upper-roman;
  border: 2px solid rgb(5, 5, 5);
  font-size: 22px;
  font-weight: bolder;
  background-color: rgb(68, 0, 0);
  color: white;
}

.home ol li {
  padding: 20px;
  font-size: 18px;
}
/*Destopk Style*/

@media all and (min-width: 800px) {
  form {
    padding: 0 150px;
  }
  .video-form video {
    width: 100%;
    height: 500px;
  }
  .conventions,
  .filters,
  .home .group,
  .dashboard .group {
    flex-direction: row;
  }
  .home img {
    width: 70%;
  }
}
