header {
  background-color: rgb(68, 0, 0);
  margin-bottom: 10px;
}
img {
  width: 30px;
}

header h1 a {
  color: white;
  text-shadow: -1px 0 #723333, 0 3px#723333, 2px 0#723333, 0 -1px#723333;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style: none;
  font-size: 10px;
}

section h1,
header nav ul li a,
button {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  justify-content: space-around;
}
header p {
  margin: 4px;
  font-size: 8px;
  text-shadow: -1px 0 #000000, 0 3px#000000, 2px 0#3a3737, 0 -1px#504a4a;
}

header p:hover,
header nav ul li a:hover {
  text-shadow: -1px 0 #000000, 0 3px#000000, 2px 0#3a3737, 0 -1px#504a4a;
  font-weight: bolder;
}
button {
  color: black;
  padding: 10px;
  border-radius: 20px;
}

/* Navbar Desktop view */
@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 0;
  }
  header h1 {
    margin: 5px;
  }
  header nav {
    margin-top: 10px;
  }
  header nav ul {
    font-size: 15px;
  }
  ul li {
    margin: 0 10px;
  }
}
